<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>

    <title>eBao Life System Log Table Check Script Generate</title>
</head>
<body>
  <div class="container">
   <div class="header">
    <h3 class="text-muted">eBao Life System Log Table Check Script Generate</h3>
   </div>
   <hr/>
    <form id="form1" method="post" action="gen_lslogcheck_script" enctype="multipart/form-data">
      <div class="row">
          <label><a href="#" class="tooltip-test" data-toggle="tooltip" title="寿险生成log表目标库oracle库的连接信息">
              eBao ls3.8 database info</a></label>
          <label class="col-sg-2">
              <input type="text" class="form-control" name="user_name" placeholder="UserName">
          </label>
          <label class="col-sg-2">
              <input type="text" class="form-control" name="user_pwd" placeholder="Password">
          </label>
          <label class="col-sg-2">
              <input type="text" class="form-control" name="connectstring" placeholder="172.16.28.46:1523/o46g4">
          </label>
      </div>
        <hr/>
          <div class="form-group">
                  <label><a href="#" class="tooltip-test" data-toggle="tooltip" title="需要比较log表的源表名列表，分行填入，一个表一行，换行分隔，表名大写">
                      Table List to Generate Log Check Script</a></label>
            <textarea class="form-control" name="table_list" rows="10"></textarea>
          </div>
      <hr/>

   <div class="header">
        <div>
            <input type="submit" value="Generate Scripts"></input>

        </div>
   </div>
   <hr/>
    </form>
   </div>

</body>
</html>