<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <title>Script has been generated successfully</title>
</head>
<body>
  <div class="container">
   <div class="header">
    <h3 class="text-muted">Script List</h3>
   </div>
   <hr/>
    <div>
        Click the file to download
       <ul>
        {% for file in filenames %}
         <li><a href="{{url_for('download_file', filename=file)}}">{{file}}</a></li>
        {% endfor %}
       </ul>
    </div>
   <hr/>
      <h3>Please Use <font color="Red">"Save Link As ..."</font> to save file avoid Chome cache instead of clicking hyperlink directly</h3>
  </div>


</body>
</html>