<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
 <head>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 </head>
 <body>
  <div class="container">
   <div class="header">
    <h3 class="text-muted">Uploaded files</h3>
   </div>
   <hr/>
   <div>
   This is a list of the files you just uploaded, click on them to download them
   <ul>
    {% for file in filenames %}
     <li><a href="{{url_for('uploaded_file', filename=file)}}">{{file}}</a></li>
    {% endfor %}
   </ul>
   </div>
   <hr/>
    <div class="header">
    <h3 class="text-muted">Script configure options</h3>
   </div>
   <hr/>
      <div class="row">
          <label>NLS_LANG</label>
            {% for nls_lang in nls_lang_list %}
              <label class="radio-inline col-sg-2">
                    <input type="radio" name="nls_lang"  value="option1" checked >  {{nls_lang}}
              </label>
            {% endfor %}
      </div>
      <div class="row">
          <label>Append or Replace</label>
            {% for append_type in append_type_list %}
              <label class="radio-inline col-sg-2">
                    <input type="radio" name="append_type"  value="option1" checked>  {{append_type}}
              </label>
            {% endfor %}
      </div>
      <div class="row">
          <label>Data File Extention Name</label>
            {% for extname in file_name_ext_list %}
              <label class="radio-inline col-sg-2">
                    <input type="radio" name="file_name_ext"  value="option1" checked>  {{extname}}
              </label>
            {% endfor %}
      </div>
      <div class="row">
          <label>Data Column Seperator </label>
            {% for terminated_by in terminated_by_list %}
                <label class="radio-inline col-sg-2">
                    <input type="radio" name="terminated_by"  value="option1" checked >  {{terminated_by}}
                </label>
            {% endfor %}
          <label>Enclosed By </label>
            {% for enclosed_by in enclosed_by_list %}
                 <label class="radio-inline col-sg-3">
                    <input type="radio" name="enclosed_by"  value="option1" checked >  {{enclosed_by}}
                 </label>
            {% endfor %}
      </div>
   <hr/>
      <div class="row">
          <label>Data File Name</label>
          <label class="radio-inline">
                <input type="radio" name="file_name_capital"  value="option1"  checked>Capital
          </label>
          <label class="radio-inline">
                <input type="radio" name="file_name_capital"  value="option1" >Lower
          </label>
      </div>
      <div class="row">
          <label>Dummy Data Type of Create Table</label>
          <label class="radio-inline col-sg-2">
                <input type="radio" name="dummy_data_type"  value="option1"  checked>  Yes
          </label>
          <label class="radio-inline col-sg-2">
                <input type="radio" name="dummy_data_type"  value="option1" >  No
          </label>
          <label>Table Name Prefix</label>
          <label class="col-sg-2">
              <input type="text" class="form-control" id="name" placeholder="">
          </label>
      </div>
   <hr/>
   <div class="header">
    <form id="form1" method="post" action="generatescript" enctype="multipart/form-data">
        <div>
            <input type="submit" value="Generate Scripts"></input>
        </div>
    </form>
   </div>
   <hr/>

   </div>
 </body>
</html>