<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
 <head>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
</head>
 <body>
  <div class="container">
   <div class="header">
    <h3 class="text-muted">Uploaded files</h3>
   </div>
   <hr/>
   <div>
   <ul>
    {% for file in filenames %}
     <li><a href="{{url_for('uploaded_file', filename=file)}}">{{file}}</a></li>
    {% endfor %}
   </ul>
   </div>
   <hr/>
    <div class="header">
    <h3 class="text-muted"> <a href="#" class="tooltip-test" data-toggle="tooltip" title="sqlloader参数选项">Script configure options</a></h3>
   </div>
   <hr/>
    <form id="form2" method="post" action="generatescript" enctype="multipart/form-data">
      <div class="row">
          <label><a href="#" class="tooltip-test" data-toggle="tooltip" title="sqlldr加载时的语言选项，如果需要新增加联系作者增加">NLS_LANG</a></label>
            {% for nls_lang in nls_lang_list %}
              <label class="radio-inline col-sg-2">
                    <input type="radio" name="nls_lang"  value={{nls_lang}} checked >  {{nls_lang}}
              </label>
            {% endfor %}
      </div>
      <div class="row">
          <label>Append or Replace</label>
            {% for append_type in append_type_list %}
              <label class="radio-inline col-sg-2">
                    <input type="radio" name="append_type"  value={{append_type}} checked>  {{append_type}}
              </label>
            {% endfor %}
          <label>Ignore First Row of Data File </label>
              <label class="radio-inline col-sg-2">
                    <input type="radio" name="ignore_first_row"  value="True" >  Yes
              </label>
              <label class="radio-inline col-sg-2">
                    <input type="radio" name="ignore_first_row"  value="False" checked>  No
              </label>
      </div>
      <div class="row">
          <label>Data File Extention Name</label>
            {% for extname in file_name_ext_list %}
              <label class="radio-inline col-sg-2">
                    <input type="radio" name="file_name_ext"  value={{extname}} checked>  {{extname}}
              </label>
            {% endfor %}
      </div>
      <div class="row">
          <label>Data Column Seperator </label>
            {% for terminated_by in terminated_by_list %}
                <label class="radio-inline col-sg-2">
                    <input type="radio" name="terminated_by"  value={{terminated_by}} checked >  {{terminated_by}}
                </label>
            {% endfor %}
          <label>Enclosed By </label>
            {% for enclosed_by in enclosed_by_list %}
                 <label class="radio-inline col-sg-3">
                    <input type="radio" name="enclosed_by"  value={{enclosed_by}} checked >  {{enclosed_by}}
                 </label>
            {% endfor %}
      </div>
   <hr/>
      <div class="row">
          <label><a href="#" class="tooltip-test" data-toggle="tooltip" title="数据文件名是大写/小写表名">Data File Name</a></label>
          <label class="radio-inline">
                <input type="radio" name="file_name_upper"  value="True"  checked>Capital
          </label>
          <label class="radio-inline">
                <input type="radio" name="file_name_upper"  value="False" >Lower
          </label>
      </div>
      <div class="row">
          <label><a href="#" class="tooltip-test" data-toggle="tooltip" title="创建表时用template中的实际类型还是默认虚拟类型varchar2(300)或大于300的实际定义值">Real Data Type For Columns</a></label>
          <label class="radio-inline col-sg-2">
                <input type="radio" name="real_data_type"  value="False" checked  >  No
          </label>
          <label class="radio-inline col-sg-2">
                <input type="radio" name="real_data_type"  value="True" >  Yes
          </label>
          <label><a href="#" class="tooltip-test" data-toggle="tooltip" title="创建表时统一增加的表前缀字符">Table Name Prefix</a></label>
          <label class="col-sg-2">
              <input type="text" class="form-control" name="table_prefix" placeholder="">
          </label>
      </div>
   <hr/>
      <div class="row">
          <label><a href="#" class="tooltip-test" data-toggle="tooltip" title="加载数据进入的中间oracle库的连接信息">Source Schema User Name/Password@ConnectString</a></label>
          <label class="col-sg-2">
              <input type="text" class="form-control" name="src_user_name" placeholder="UserName">
          </label>
          <label class="col-sg-2">
              <input type="text" class="form-control" name="src_user_pwd" placeholder="Password">
          </label>
          <label class="col-sg-2">
              <input type="text" class="form-control" name="connectstring" placeholder="tnsString">
          </label>
      </div>
      <div class="row">
          <label><a href="#" class="tooltip-test" data-toggle="tooltip" title="需要引用目标库表的schema名称，主要是校验脚本中代码表的引用">Target Schema User Name</a></label>
          <label class="col-sg-2">
              <input type="text" class="form-control" name="tar_user_name" placeholder="Target User Name">
          </label>
      </div>
   <hr/>
   <div class="header">
    <form id="form1" method="post" action="generatescript" enctype="multipart/form-data">
        <div>
            <input type="submit" value="Generate Scripts"></input>
        </div>
    </form>
   </div>
    </form>
   <hr/>

   </div>
 </body>
</html>